<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>807327091510-rivnqurfdd4uhm15mavh23gdof9sm06t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.807327091510-rivnqurfdd4uhm15mavh23gdof9sm06t</string>
	<key>API_KEY</key>
	<string>AIzaSyBOF9112LUiMKIabGbNqPgR_DeVFsMjHaU</string>
	<key>GCM_SENDER_ID</key>
	<string>807327091510</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.evedenison.CrossPlatformToDoList</string>
	<key>PROJECT_ID</key>
	<string>crossplatformtodolist-c2b3b</string>
	<key>STORAGE_BUCKET</key>
	<string>crossplatformtodolist-c2b3b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:807327091510:ios:62f9474d680f4a90</string>
	<key>DATABASE_URL</key>
	<string>https://crossplatformtodolist-c2b3b.firebaseio.com</string>
</dict>
</plist>